<VirtualHost *:80>

    EnableSendfile off

    <Directory "{{& vagrantPath }}">

        Options FollowSymLinks
        AllowOverride All
        Require all granted
        RewriteEngine On

    </Directory>

    ServerName {{& domain }}

    DocumentRoot {{& vagrantPath }}

    AddDefaultCharset UTF-8

    <FilesMatch \.php$>
        SetHandler "proxy:fcgi://127.0.0.1:90{{& php }}"
    </FilesMatch>

</VirtualHost>